[2016-09-02 14:28] ubergeekzone opened #1 "Fatal error: Call to undefined function PHP_API_AUTH()"
Fatal error: Call to undefined function PHP_API_AUTH() in api/index.php on line 1830

what could the issue be? i did require the auth.php file.

[2016-09-02 16:00] mevdschee commented on #1
Sorry, that was a bug. See: 704bc184ca7f8cadc91926db21c88ca217352694

[2016-09-02 16:00] #1 closed, assigned to mevdschee

[2016-09-16 14:31] geeekcode opened #2 "authentication"
If we don't put the correct credentials we can get the access to the api, this is correct?

[2016-09-19 15:17] mevdschee commented on #2
If you don't enable authentication, then yes..

[2016-09-19 15:17] #2 closed, assigned to mevdschee

[2016-10-06 10:23] geeekcode opened #3 "Check token"
If the token that is generated is incorrect when we press the 'OK' button after the login page we can enter the api file, that is incorrect right? How can I change that?
Is supposed the token be always the same? And how I can define a timeout for the token?
Sorry for the multiples questions and good work!

[2016-10-21 06:47] mevdschee commented on #3
Uncomment one of both methods in api.php

No, it is not

It is defined in the 'auth.php' file as 'ttl' and can be specified as an option in 'api.php' when loading the auth object:

[code]

Does this help?

[2016-10-25 09:18] geeekcode commented on #3
Yes thank you! And how I can request token to url? I think that part is missing me... Every url after the login must have the token on url right?

[2016-10-29 21:58] mevdschee commented on #3
No, after "logging in" with a token you get a (http-only) session cookie.

[2016-11-06 15:38] mevdschee commented on #3
I have tried to clarify the process in the readme.

[2016-11-06 15:38] #3 closed, assigned to mevdschee

[2016-11-18 06:20] ubergeekzone opened #4 "check username and password against database"
how would we go about checking the username and password against the database? Would we just use MySQL query's to do this? what is the method you intended?

[2016-11-18 06:37] mevdschee commented on #4
Thank you for reaching out. You may implement any method to check a username/password combination. There is no intended method.

[2016-11-18 06:37] #4 closed, assigned to mevdschee

[2016-11-22 18:23] ubergeekzone opened #5 "check username/password against database"
csrf token is still generated when no username/password is provided or if username/password is wrong. Is this an error or should be be checked by developer?

UPDATE:
i was able to check if the fields were blank using javascript, How can i check if the username/password is wrong? Should i be using the server method in your example? I think i am using simple right now.

[2016-11-22 23:14] ubergeekzone commented on #5
figured this one out, thanks!

[2016-11-22 23:14] #5 closed, assigned to mevdschee

[2016-11-22 23:22] ubergeekzone opened #6 "CSRF Token Question"
Does the CSRF token expire? How should that be handled?

[2016-11-23 06:53] mevdschee commented on #6
It has the same lifetime as the session as that is where it is stored.

[2016-11-23 06:53] #6 closed, assigned to mevdschee

[2016-11-24 01:24] fvdias opened #7 "Send csrf on Create/Post"
I've enabled simple user/pass authentication and it works fine when I try to post records using get.

I use curl to post username and password as defined on api.php and get the csrf token in return I then send the csrf on the url as api.php/table/?csrf=tokenvalue and it returns the json with the records as expected.

The problem is when I try to create a record also using curl. I first post the us

[2016-11-24 07:48] mevdschee commented on #7
Thank you for reaching out. You should still send the csrf token as a get
parameter, even on post or put.

[2016-11-24 09:46] fvdias commented on #7
I've tried doing that using curl to send the csrf in the url as site.com/api.php/users?csrf=tokenvalue

Still it does nothing. The same code works and creates a record if I remove uthentication

[2016-11-24 10:13] fvdias commented on #7
I've also tested with POSTMAN (Chrome extension) sending the same post that works but passing the csrf token on the url and it doesn't work. It works fine on Get.

[2016-11-24 11:05] fvdias commented on #7
My code that does not work:

`<?php

$ch = curl_init();                    // initiate curl
$url = "http://www.mysite.com.br/api/api.php"; // where you want to post data
curl_setopt($ch, CURLOPT_URL,$url);
curl_setopt($ch, CURLOPT_POST, true);  // tell curl you want to post something
curl_setopt($ch, CURLOPT_POSTFIELDS, "username=admin&password=admin"); // define what you want to post
curl_setopt(

[2016-11-24 12:33] mevdschee commented on #7
The problem is that you receive a session cookie that you should store in the cookie jar

    // Tells curl to store received cookies in the temporary file
    curl_setopt ($ch, CURLOPT_COOKIEJAR, $tmp_fname);

In the second request you should send the session id using a cookie:

    // Tells curl to send received cookies from the temporary file
    curl_setopt ($ch2, CURLOPT_COOKIEFILE, $tmp_fnam

[2016-11-24 12:58] fvdias commented on #7
Thanks for the reply. I'm not sending the username and password on the second request. My table has username and email fields.

So this
curl_setopt ($ch, CURLOPT_COOKIEJAR, $tmp_fname);

should be on my first request and $tmp_fname = my $output, correct?

thanks again

[2016-11-24 13:22] fvdias commented on #7
I checked the link you suggested and changed my code as follows, but still no luck. The cookie is generated correctly and the URL is appending the token correctly. Thanks again for your help.

<pre>
<?php
$tmp_fname = tempnam("./","COOKIE");

$ch = curl_init();                    // initiate curl
$url = "http://www.foneparking.com.br/api/api.php"; // where you want to post data
curl_setopt($ch, CU

[2016-11-24 13:50] fvdias commented on #7
Got it to work. Figured out I was calling the COOKIEJAR and never the COOKIEFILE.

Thanks a lot.

SOLVED!

[2016-11-24 13:50] #7 closed, assigned to mevdschee

[2016-11-24 15:41] mevdschee commented on #7
You are welcome, glad it worked. Enjoy!

[2016-12-31 22:42] benhbell opened #8 "App fails to recognize token that is returned"
Hi there!

I'm running ubuntu 16.06 here and a mysql database.

If I run the phpcrud api program without this auth stuff installed, I can get results by get method to /api.php

I then paste the the code from this repo in the /api.php file into the phpcrud /api file right above the the $api = new PHP_CRUD_API and uncomment the top half.

I change the 'secret' = 'testingtoken123'

I then visit /logi

[2017-01-01 08:22] mevdschee commented on #8
That is not expected, it should show swagger output.

That holds the csrf token and not the JWT token, so what you are doing is wrong (crsf token is numeric)

Maybe you uncommented both authentication sections?

Maybe you did not uncomment the API configuration holding the '$api->executeCommand();' call?

[2017-01-02 03:27] benhbell commented on #8
Hey Mevdschee, thanks for the assistance

I retried it by going to login_token.html and entering "username" and "password" into the fields, then hitting OK. When I debug the code, I see it generate a csrf token=3386954277485100800

I see no change in behavior if I use that numeric token in the query.

here is the code as I have it in api.php

[code]

I do see that in auth.php my IDE is throwing so

[2017-01-02 06:59] mevdschee commented on #8
Does the swagger output show when you comment out the authentication?

You need both the session cookie and the CSRF token.

Can you post these?

[2017-01-02 21:09] benhbell commented on #8
I think it is the first auth block that is not working. If I uncomment the second part, and then go to "login.html", enter admin and admin as the credentials, I am given a csrf. Using that csrf it all works!

It also works if I comment out the auth

I get the swagger output
``
Access granted!{"swagger":"2.0","info": [the rest of the settings]
``

I am trying to use postman to now get the CSRF
![se

[2017-01-02 22:00] mevdschee commented on #8
You should have either the first or the second block commented out. Maybe that is the problem?

The file 'login_token.php' (together with 'login_token_html') is hosted somewhere and will provide you with a time limited JWT (when you submit username and password). The other file is your 'api.php' where you can login with the JWT and that will use a session cookie and CSRF for session management and

[2017-01-02 22:28] benhbell commented on #8
I think it is the first auth block that is not working. If I uncomment the second part, and then go to "login.html", enter admin and admin as the credentials, I am given a csrf. Using that csrf it all works!

It also works if I comment out the auth

I get the swagger output
``
Access granted!{"swagger":"2.0","info": [the rest of the settings]
``

I am trying to use postman to now get the CSRF
![se

[2017-01-03 00:09] benhbell commented on #8
Ok. I think we are getting so much closer. Really appreciate it.

If I leave the second auth block uncommented, I can login and get the csrf then use that in a browser and get it to work.

If I go and then switch the comments so that it is the top. I cannot access anythings.
1. Using Postman, I make a post request to login_token.php and provide a username and password as the input
![selection_021]

[2017-01-03 00:27] benhbell commented on #8
I got it!

I replaced the first auth block code that was in my api.php file with what was in the clone of the php auth repo
[code]
there was an extra hidden space in the execute command.

[code]

Doing so, I followed the steps again and this time I got the output!

Thank you so much.

[2017-01-03 07:00] mevdschee commented on #8
I'm glad you figured it out, enjoy the software!

NB: If there is any room for improvement, please let me know.

[2017-01-03 07:01] #8 closed, assigned to mevdschee

[2017-01-06 06:01] Surojd opened #9 "I have a issue in php 5.6.27"
[03-Jan-2017 01:10:35] PHP Warning:  Unexpected character in input:  '\' (ASCII=92) state=1 in /home4/nepalblo/public_html/API.php on line 192
[03-Jan-2017 01:10:35] PHP Parse error:  syntax error, unexpected T_FUNCTION in /home4/nepalblo/public_html/API.php on line 205

[2017-01-06 07:33] mevdschee commented on #9
Thank you for reaching out. Please post the contents of those lines, including the preceding line.

[2017-01-06 10:02] Surojd commented on #9
if (!$success) {
            throw new \Exception('Connect failed. ' . mysqli_connect_error());//this is the line 192
        }

-----------------------------------------------------------------------------------------------------------------
public function query($sql, $params = array()) {
        $db = $this->db;
        $sql = preg_replace_callback('/\!|\?/', function ($matches) use (&$db, &$pa

[2017-01-06 11:16] mevdschee commented on #9
Both warnings are from a PHP version older than 5.3, are you sure you run PHP 5.6 and not MYSQL 5.6?

[code]

Put the above line in a PHP file on your server and request it using the browser, you can post the output.

[2017-01-06 15:09] Surojd commented on #9
OK and thanks,,

[2017-01-06 15:09] #9 closed, assigned to mevdschee

[2017-02-02 18:52] rmawani opened #10 "cURL GET request to api.api gives me 401 error"
Hi,

First off, thank you so much for the great auth and crud APIs. You have really saved me (and I'm sure, many others) a lot of time by making them available publicly!

Anyway, I've managed to get the everything up and running in my environment to a point where I can use PostMan and/or a Browser to register a user, authenticate this user and then use the resulting CSRF token to perform GET/POST/

[2017-02-02 19:20] mevdschee commented on #10
Thank you for your kind words! Please take a look at #7, especially COOKIEJAR and COOKIEFILE. I think this is where your problem lies.

[2017-02-02 20:46] rmawani commented on #10
Thanks for your super quick reply!

I took a look at [#7](https://github.com/mevdschee/php-api-auth/issues/7) and modified my code accordingly by calling cURL twice, once to authenticate the user and then once more to process the GET request.

Still no joy...

Here is my updated code:

[code]

This var_dump looks identical to the one output by my last iteration of code...

[2017-02-02 20:48] mevdschee commented on #10
Can try to you add cookiejar and cookiefile to both calls? Does the file exist? Does it get filled?

[2017-02-02 21:24] rmawani commented on #10
hmmm... It looks like the file does not get created as a var_dump($tmp_file, file_exists($tmp_file)) results in NULL and false... Could this be some sort of a directory permissions issue?

[2017-02-02 21:38] rmawani commented on #10
Finally fixed it! Thanks so much for your help!

Turns out it was a bit of a permissions issue as I was not creating the file in a location that could be written to. In my case, I decided to create the cookie in the Web Server's root tmp folder.

Thanks again!

[2017-02-02 21:54] mevdschee commented on #10
You are welcome!

[2017-02-02 21:54] #10 closed, assigned to mevdschee

[2017-02-02 23:06] rmawani commented on #10
Very good point... Thanks for the advice! Works like a charm now!

Thanks again!!

[2017-02-06 01:43] ablears opened #11 "Auth returns 401 when using cURL"
First, thanks so much for the time you've put into this framework.

I've read through the other issues about cURL, and have similar issues despite checking things like the cookie files. I am using the 'Simple username + password' method.

The first POST, to get the CSRF, works fine. I get the numeric CSRF as expected, and a cookie is created in the temp folder.

I do another send, this time with t

[2017-02-06 08:55] mevdschee commented on #11
Hi, thank you for reaching out. I'll try to help you as good as I can. Try replacing:

    $tmpFname = tempnam("/tmp/api/","COOKIE");

with:

    $tmpFname = tempnam(sys_get_temp_dir(),"COOKIE");

I'm guessing this could help, because I wasn't able to reproduce your problem (yet). See also:

https://github.com/mevdschee/php-crud-api/blob/master/examples/client_auth.php

This is a working example.

[2017-02-07 23:03] ablears commented on #11
Thanks for the help! Unfortunately using `$tmpFname = tempnam(sys_get_temp_dir(),"COOKIE");` didn't change anything, and using your working example results in the same issue.

Trying this code on another server works (unfortunately not the one I need it on) so I guess this is a server config issue, something to do with session management or PHP 7.1... not sure. Even just using Postman doesn't work

[2017-02-08 14:26] mevdschee commented on #11
I can help you debug the issue. Send me a private email to discuss.

[2017-02-08 14:28] mevdschee commented on #11
I can help you debug the issue. Send me a private email to discuss.

[2017-02-09 01:46] ablears commented on #11
OK, thanks.

[2017-02-09 01:46] #11 closed, assigned to mevdschee

[2017-02-18 04:33] rmawani opened #12 "Token+Session auth trouble..."
Hi!

Thanks again for the great api's!

I've been successfully using Form+Session auth and have had very little trouble (at least since the last time you pointed me in the right direction). Yesterday, I decided to try out Token+Session auth to see if it might suit some of my auth needs better.

I tried using the following block of code:

[code]

...and expectedly receive a valid JWT indicating "us

[2017-02-18 07:01] mevdschee commented on #12
The JWT is issued by your authentication server, let's say: auth.yourservice.tld

The session + CSRF are still needed to run your api on:  api.yourservice.tld

To transfer trust from auth.yourservice.tld to api.yourservice.tld the JWT is used.

On auth.yourservice.tld you only run the php-api-auth project, not php-crud-api.

On auth.yourservice.tld you use in the auth configuration both secret and

[2017-02-19 18:04] rmawani commented on #12
Thanks a bunch for clearing that up for me! Works perfectly!

[2017-02-19 18:04] #12 closed, assigned to mevdschee

[2017-02-19 20:36] mevdschee commented on #12
I'm glad it did. Enjoy the software!

[2017-02-28 19:28] younesouhbi opened #13 "Example of server config"
Hi there,
First thanks for the awesome accelerator.
Please note that I am new to PHP, my last time using it goes back more than 15 years...
I'm trying to use the username + password authentication, it doesn't matter what I do, I get 200 Ok on the first post request to api.php on '/' but any subsequent request ends in 401. Is there an example of usage available that I can follow? I've only seen the

[2017-02-28 19:51] mevdschee commented on #13
There are a few authentication examples here:

https://github.com/mevdschee/php-crud-api/tree/master/examples

They have "auth" in the name.

https://github.com/mevdschee/php-crud-api/blob/master/examples/client_auth.php

Like that one?

The files contain some comments that may be useful.

[2017-03-01 08:56] younesouhbi commented on #13
Thank you for the examples. I'll go over them but I still fail to understand what PHP_API_AUTH attempts to do.
I failed to mention that I'm using Aurelia with the Aurelia-auth plugin which sends the token with each request after a successful login.
What I don't understand is how PHP_API_AUTH uses this token to verify that the user is in fact authenticated:

[code]
hasValidCsrfToken returns false i

[2017-03-01 15:48] younesouhbi commented on #13
I narrowed the problem down to PHP creating a new session on refresh which leads to the token sent with the header having a different value than the one that gets generated again and again which then leads to 401 unauthorized.

[2017-03-01 15:50] mevdschee commented on #13
It is typically due to the following lines missing:

    curl_setopt($ch, CURLOPT_COOKIEJAR, $cookiejar);
    curl_setopt($ch, CURLOPT_COOKIEFILE, $cookiejar);

I hope that helps.

[2017-03-05 02:45] reubenwalkerau opened #15 "Username/password authentication"
Hi Maurits

Thank you for your sharing your work, it's excellent code and very helpful.

Sorry for asking a simple question, I may be missing something obvious. I'm seeing a token returned for any username/password pair, even null.

How can I make this authenticate against known credentials?

[code]

[2017-03-05 07:02] mevdschee commented on #15
Please investigate this example to see how it is supposed to work:

https://github.com/mevdschee/php-crud-api/blob/master/examples/client_auth.php

I hope that gets you any further.

[2017-03-05 08:54] mevdschee commented on #15
Or alternatively look at this example:

https://github.com/mevdschee/php-crud-api/blob/master/examples/client_bash_auth.sh

Showing the following commands:

    #!/bin/bash

    # initialize empty cookie store
    cp /dev/null cookies.txt

    # login and store cookies in 'cookies.txt' AND retrieve the value of the XSRF token
    TOKEN=`curl 'http://localhost:8888/blog.php/' --data "username=admin

[2017-03-05 09:03] mevdschee commented on #13
Closed due to inactivity

[2017-03-05 09:03] #13 closed, assigned to mevdschee

[2017-03-05 22:53] reubenwalkerau commented on #5
@ubergeekzone, how did you implement the username/password check?

[2017-03-05 22:55] reubenwalkerau commented on #15
Thank you that is helpful. My question was really more along the lines of #4 and #5, how/where to implement a username/password validation?

[2017-03-07 01:40] mevdschee commented on #15
Please read these tickets:

https://github.com/mevdschee/php-crud-api/issues?q=is%3Aissue+authenticator+is%3Aclosed

Especially the following comment:

https://github.com/mevdschee/php-crud-api/issues/117#issuecomment-256551221

I hope that helps!

[2017-03-10 03:15] reubenwalkerau commented on #15
I think this comment is what I was looking for:
https://github.com/mevdschee/php-crud-api/issues/117#issuecomment-256795657

[2017-03-10 05:46] reubenwalkerau commented on #15
Its working as expected now. Thank you for your great work and for your assistance.

[2017-03-10 05:46] #15 closed, assigned to mevdschee

[2017-03-10 07:24] mevdschee commented on #15
I'm glad it works now, enjoy the software!

[2017-04-02 15:58] marekpridal opened #17 "Auth does not work properly"
Hi, I have tried to set up php-api-auth framework but it doesn't work as I expected. You can see it [here](http://vydaje.marekpridal.eu/login.html). If you login using form you get (probably) csrf token. But if I send POST request to .../api.php/?username=admin&password=admin it doesn't give me csrf token and it doesn't check, if credentials are OK neither. I am sure I am making something wrong bu

[2017-04-16 16:08] mevdschee commented on #17
Thank you for creating this issue. Sorry that it took me a long time to answer. I will try to follow up more quickly.

Those "username" and "password" variables should not be sent as GET variables in the URL, but as POST variables in the body.

[2017-05-13 21:23] marekpridal commented on #17
No problem, thanks a lot for answer and also excuse me for taking some time 😃 Anyway I am now sending username and password using POST and in body but it still doesn't return anything. Here is a screenshot from Postman.

<img width="978" alt="snimek obrazovky 2017-05-13 v 23 21 08" src="https://cloud.githubusercontent.com/assets/14936321/26029343/2c7bbff8-3833-11e7-8087-a2f5d886f07b.png">

[2017-05-13 21:59] marekpridal commented on #17
OK, I am getting token now. I have to select x-www-form-urlencoded in the tab bar. Now the problem is I am not sure if auth works on my site well because it gets me token everytime even if username and password is random. You can see it [here](http://vydaje.marekpridal.eu/login.html) in the login.html form. I am sure it must be problem somewhere in my config of API but I cannot find where.

[2017-05-14 09:44] marekpridal commented on #17
I tried to integrate it in simple Swift app and it works in 50 % 😄 I got the token back, but when I try to fetch the data I got from server code 400 and response
[code]
It's strange, because when I try to use Postman for getting data (sending token in header) it works properly. Here is a func which I use for fetching data from API.
[code]
I would understand if response code would be 401 but it's 4

[2017-05-16 07:19] Vish05 opened #18 "auth.php getVerifiedClaims function returns null value"
Hello
I am stuck with understanding how the Auth works.

[code]

Here i generate successful token now stuck to get information about the user.
http://www.example.com/user/2/ ( always get 401 )

For stand-alone mode it is working fine but after adding php-api-auth it is not working properly.
// uncomment the lines below when running in stand-alone mode:

[code]

So please help me here
Thanks in adv

[2017-07-06 20:07] cyleleghorn opened #19 "Token+Session Auth Doesn't Actually Use Token"
Hello, I have gotten your awesome PHP api to work in standalone mode, and then after uncommenting the lines for token+session auth, I have finally gotten it to return results.

The problem that I'm seeing is that I get a 401 error if I don't include the username and password in the POST request to api.php, and that once I include the username and password, it seems like anything I type in for the

[2017-07-14 05:15] alejandrog79 commented on #19
Hi cyleleghorn!

Can you post a functional example to get results returned once you authenticate?

I've tried to replicate your steps but I can't get to work the GET request as everytime I send the csrf parameter and the cookie value in the headers I get a 401 Unauthorized code.

This is an example code I'm using based in the examples provided:

$.post( "login.php", { username: "admin", password:

[2017-07-17 09:06] sujathavts commented on #5
@ubergeekzone, how did you implement the username/password check?

[2017-07-17 09:07] sujathavts commented on #15
@reubenwalkerau how did you implement the username/password check?

[2017-07-27 15:29] cyleleghorn commented on #19
Sorry, I've been away from computers recently, but you're having the same
problem I'm having.  Passing just the csrf token doesn't get you any
results; you get an error.  You have to also pass through the username and
password, which are both admin by default.  You can also just put the
username and password with no csrf token, which is why I created an issue
saying that the token-based auth doesn

[2017-08-18 04:00] reubenwalkerau opened #20 "App key?"
Is it possible to setup a permanent app key such that a particular app can access the api without first fetching a csrf every time?

Possibly a way to make a csrf persistent rather than time out?

[2017-08-18 05:43] mevdschee commented on #20
No, it would defeat the purpose of a CSRF. What you can do if you understand the security implications is: turn it off by commenting out the security check.

[2017-08-18 07:27] reubenwalkerau commented on #20
Ok thank you I'll take a look at that.

I'm interested in authorising a mobile app with an app key and secret. I know this is very commonly done but not sure how it's implemented.

[2017-08-20 06:06] reubenwalkerau commented on #20
From looking at auth.php I understand that the token expires after 30 minutes.

68         if (!$ttl) {
69             $ttl = 30;

What is the best practice for csrf tokens?
Should my client app save and re-use the token, then check whether it has expired and fetch a new one, or would it be better not to save the token and just fetch a new one before every REST operation?

[2017-08-21 19:09] mevdschee commented on #20
That is 30 seconds

The login token is not the same as the csrf token. You should save the csrf token and re-use it during the session.

[2017-09-23 18:59] mnicic opened #21 "Basic Auth"
Am I wrong, or this can't be used with Basic Auth?

[2017-09-29 01:23] ezetojo opened #22 "Using Auth only for PUT/POST/DELETE requests"
Hey @mevdschee . First of all thanks for this awesome tool. I'm just wondering if there's any way to use the auth only for PUT/POST/DELETE requests to prevent inserts or updates of unwanted data and leave the GET requests publics (without auth).

[2017-09-29 09:50] mevdschee commented on #22
Thank you for reaching out and for your compliments!

I guess you can add a condition for the HTTP method.

Something like:

    if (empty($_SESSION['user']) || !$auth->hasValidCsrfToken()) {

replaced by:

    if ($_SERVER['REQUEST_METHOD']!='GET' && (empty($_SESSION['user']) || !$auth->hasValidCsrfToken())) {

I hope that helps.

[2017-09-30 02:54] ezetojo commented on #22
That's a great solution.
Now i can't make any request that isn't GET. Cool.
Next step... I got the token from login_token.
But now i'm trying to test it in postman and i can't make it work...
I tryed using X-XSRF-TOKEN and XSRF-TOKEN header and the token but always returns 401.
I can't figure it out.
Sorry and thanks in advance!

[2017-09-30 06:15] mevdschee commented on #22
Please check #10 and if that does not help you open a new issue. Thank you!

[2017-09-30 06:15] #22 closed, assigned to mevdschee

[2017-10-01 15:17] ezetojo commented on #22
Thanks @mevdschee ! I'll keep trying.

[2017-10-11 22:42] ali-h2010 commented on #17
@marekpridal i have almost the same problem as you. I get the same token no matter what i input as username and password.
I also can't get any data with this token and all i get is unauthorized.
Can anyone kindly help us with this small problem?

[2017-10-22 17:45] Denis-Evseev opened #23 "How can I combine Auth0 and php-api-auth?"
I am currently implementing an admin part of my website and going to use Auth0 for authorization and splitting permissions purposes. I have deployed php-api and have a simple Auth0 app that can just authorize me into an admin panel. After login, a user obtains a token and a corresponding role, I just need somehow to verify the token and to split functionality in the API.

Is there a proven path to

[2017-10-23 05:55] mevdschee commented on #23
There is not yet support, nor does anything prevent it from being implemented. See: https://oauth.net/code/

[2017-10-23 05:56] mevdschee commented on #21
Basic auth is currently not supported.

[2017-10-23 11:36] pottertech opened #24 "Support for JWT tokens with RSA"
I have a need for RSA signatures in the JWT.  Can you integrate the https://github.com/firebase/php-jwt library into your PHP-API-AUTH?

[2017-10-25 09:19] hisbluness opened #25 "Trouble getting simple AUTH to work"
Hey sir,

I've been playing around with your regular API and it is great fun and very helpful. I want to add the AUTH plugin but have trouble doing so.

I've added the respective lines in the api.php (uncommented the parts near the end):

`require 'auth.php'; $auth = new PHP_API_AUTH(array( 'authenticator'=>function($user,$pass){ $_SESSION['user']=($user=='admin' && $pass=='admin'); } )); if ($aut

[2017-10-25 16:10] hisbluness commented on #25
I just noticed that I get a token regardless of the user/pass I enter in the login.html. I'd appreciate any hints/tips.

[2017-10-25 18:23] mevdschee commented on #25
I think you are confused by the three different tokens: CSRF, Authentication and Session

You should send an username and password and then receive a session token (in the cookie). You also receive a CSRF token that you have to actively send along in every next request. You may also do this using a header (like Angular2 and React do this).

If you want to use a JWT token to authenticate you can do

[2017-10-25 20:59] hisbluness commented on #25
Thanks for the prompt response. You are right, maybe I'm confusing things. Maybe it helps to explain what I try to do and maybe there is a problem with my idea of how it should/could work.

What I want to accomplish:
I'm writing something in .NET/C# where it would be nice to store a bit of information in an online database. I tried your version without AUTH to check if it would be possible/suffici

[2017-10-25 20:59] #25 closed, assigned to mevdschee

[2017-10-25 21:58] mevdschee commented on #25
Thank you for reporting this. You write:

That sounds like a bug in the documentation/example, where did you find that? I would love to fix that.

[2017-10-26 05:51] hisbluness commented on #25
Sure thing.
On the AUTH page https://github.com/mevdschee/php-api-auth within the readme.md (or directly on the page) this bold sentence lead me astray:

Probably only relevant for people inexperienced in regards to web technology. Thanks for your response and help. So far it is looking good. Great work on this project!

[2017-10-26 05:57] mevdschee commented on #25
Thank you, I understand how this can be confusing.

[2017-11-05 09:21] arshohag opened #26 "how to print token in JSON array"
thanks for the great API. how can I get the token in JSON array?

[2017-11-07 12:51] wackazong opened #27 "XSRF token not generated for first time login"
I always have to log in twice because after the successful first login I do not have a valid XSRF token in the session. Should this not be set when the user logs in and does not have a session yet? At the moment the cookie is only set when there is a session already.

[2017-11-08 11:50] wackazong commented on #27
Found it, I commented out some bits for testing.

[2017-11-08 11:50] #27 closed, assigned to mevdschee

[2017-11-08 15:36] mycaravam commented on #21
Put this on top of api.php. It enables a crude basicAuth, just for tests. I use this in my projects til implementing "better" Auth methods.
[code]

[2017-11-09 00:16] mevdschee commented on #27
Great! Enjoy the software.

[2018-02-18 23:10] CharifAbdeslam commented on #18
Same issue here their is all most no documentation on how to use the Auth

[2018-02-18 23:17] CharifAbdeslam commented on #17
Same issue i dont get anything while posting

[2018-02-18 23:26] mevdschee commented on #17
I guess you are confused by the existence of both a CSRF token and the session cookie. When people use Curl and forget to define a cookie jar this often fails.

[2018-02-18 23:29] mevdschee commented on #17
@CharifAbdeslam please open a new issue and post some code + urls you are using, so that I can help you. I would love to help you, but "I dont get anything" wont help me.

[2018-02-19 10:13] CharifAbdeslam opened #28 "Authentification Issue"
First of all hello and thank you for this work, i am getting issue working with the authentication
Here is my code
[code]

I was able to get the token wish for some weird reason no matter what i submit on the first post request is "N1991573504" , but in the second request where i need to fetch the data i am still getting error  401 Unauthorized
this is how the header of my request look like

`http

[2018-02-19 10:57] CharifAbdeslam commented on #17
Hello @mevdschee  Thanks for the reply man , i did open a ticket

[2018-02-19 19:07] mevdschee commented on #28
Thank you for your kind words. You need to change the order of the csrf and the path as such:

    url:"./src/api.php/costumers_info?csrf="+[res],

I hope this helps.

[2018-02-19 19:56] CharifAbdeslam commented on #28
Thanks Man i will try it and let you know

[2018-02-19 20:01] mevdschee commented on #26
I have no idea what you are trying to ask. Can you rephrase your question?

[2018-02-19 20:27] CharifAbdeslam commented on #28
Hello mevdschee  , finally it working  when i switched to` url:"./src/api.php/costumers_info?csrf="+[res],`
again Thank you a lot

[2018-02-19 20:32] mevdschee commented on #28
Great, enjoy the software!

[2018-02-19 20:32] #28 closed, assigned to mevdschee

[2018-03-12 07:14] djanesch opened #29 "problem with localhost-client and domain-server"
dear @mevdschee !

first of all thanks for the great api you wrote.
after a few hours of headache and understanding the workflow of php-api-auth i understand the way it works. maybe you could also add an detailed workflow description for cases like mine.
i have an angular5 client and the php-crud-api as backend. so now i have also a login.php which is generating the jwt-token if user-credentials a

[2018-03-12 07:32] mevdschee commented on #29
There is cross domain support through CORS headers, so I'm not aware of any domain related issues. That being said you do have to run php-api-auth also in development (or disable it altogether). Maybe you are not doing that?

[2018-03-12 07:53] djanesch commented on #29
the CORS headers or any CORS-related problems don't exist, i think.
the communication between client and server are fine (either in development(localhost) and in production (subdomain)) but the problem is that with the same settings for backend (crud and auth) i'm able to work with csrf-tokens on same domain's but not in development (localhost and subdomain).
maybe the problem is that the cookie a

[2018-03-25 20:33] raz0r007 opened #30 "Security question"
Hi,
I implemented AUTH with authentication server (token+user+pass).
If a hacker want to view (through sniffing for example) the data that I'm sending via POST, he could know the user and password and could use the api. It's true?

If yes, for make a REAL security, should I use ALWAYS https? If I don't use https is easy to hack?

And my other question is about logout.html, when I should use the lo

[2018-03-27 17:17] mevdschee commented on #30
First of all: Security is a hard topic, please read a lot about it.

Yes

Yes

When you have finished your session.

The idea is that you are creating a session with a session cookie.

NB: It sounds like you are new to this. Please ask for professional advice if you are publishing real data.

[2018-03-27 17:28] raz0r007 commented on #30
Ok but, the **csrf** generated after login, has an expiration? Or it never expires?

[2018-03-27 17:36] mevdschee commented on #30
It expires when the session expires.

[2018-03-30 06:42] #30 closed, assigned to mevdschee

[2018-04-02 21:57] WJanbaz opened #31 "Is there a way to combine it with social logins?"
Hi, thanks for this great job.

I am thinking of using php-crud-api with php-api-auth combining a social login (Gmail, FB ...) developed using angular (ex: https://github.com/sabyasachibiswal/angular5-social-login) . Basically, my idea is user connects with FB or Gmail before being able to call any REST API through php-crud-api. Do you have any documentation or examples somewhere?

[2018-04-08 08:49] mbnoimi commented on #21
@mycaravam Why you don't make Pull request?

[2018-04-08 08:56] mevdschee commented on #21
Basic auth over SSL is not such a bad approach. Hard-coding the username and password on the other hand is something I would not recommend. Also not using "password_hash" seems like a security issue to me. See: https://secure.php.net/manual/en/function.password-hash.php

[2018-04-08 08:59] mevdschee commented on #31
Hooking it up to a service like auth0 would probably be useful. See: https://auth0.com

If you succeed, please post the code for others to use. :-)

[2018-04-08 10:17] mycaravam commented on #21
@mbnoimi because it's not part of this project. You can attach this snippet to any php-file. Maybe it even was a mistake to post this, someone might think you could use this in production or do it anyway.
For me it's just part of a work-around and this especially is simplified code to 'fit' in one file as an example.
My own app uses a user-table and gets the credentials from there.

[2018-05-30 07:23] carlo-fontanos commented on #13
Same here, I'm lost on the usage of **PHP_API_AUTH**. Do you have an example  script that demonstrates an actual login with logout?

Like a form where users can log in then it compares the credentials against the database via `api.php`, and sets the session, and uses the session on the condition on weather to show the logout button or not, and then clears the session on-click of logout button?

[2018-06-03 00:37] iyasilias opened #32 "ttl wont change from 30 second"
I have set the ttl to 3600 but it keep the expired time to 30 seconds.

[code]

[2018-06-03 01:21] #32 closed, assigned to nobody

[2018-06-08 12:20] raz0r007 opened #33 "SESSION"
Hi
I'm having this error :

Notice: Undefined variable: _SESSION in /home/php-crud-api-master/auth.php on line 196
"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1Mjg0MTk4OTIsImV4cCI6MTUyODQxOTkyMn0.eOV6tbWX-I8Yoo1qrdDQyeO4cboSTp9yLYMf6USrQmk"/>

Why? I'm trying to implement login with token.
Regards

[2018-06-08 16:14] mevdschee commented on #33
Hi.. Do you know why there is a "/>" at the end of the error message?

[2018-06-08 16:32] raz0r007 commented on #33
I think because in login_token.php i found this line at the end:
?>/>

But that's not the problem, I tested deleting it and the error continues.

[2018-06-08 16:37] raz0r007 commented on #33
This is the steps that I followed for activate login with token:

- In api.php (downloaded from php-crud-api) i uncomment the first part:

require 'auth.php'; // from the PHP-API-AUTH project, see: https://github.com/mevdschee/php-api-auth

// uncomment the lines below for token+session based authentication (see "login_token.html" + "login_token.php"):

$auth = new PHP_API_AUTH(array(
'secret'=>'t

[2018-06-09 01:41] raz0r007 commented on #33
I discovered why is that error.
The user/pass for login is admin admin, if you try to login with a different user/pass, login_token.php returns that notice instead of an invalid token.

Can you test it?
2 months ago I remember that I tested it and it worked well, the login_tokens returned me an invalid token instead of that error.

I saw that php-crud-api was updated. Maybe it's a bug?
Can you tes

[2018-06-09 03:12] raz0r007 commented on #33
Ok I solved the problem, this is my final login_token.php

[code]

I added "@" for avoid the Notice.
Programmers like me that we making a program in c++, is very annoying a Notice in the response. So, evaluate improve that :). I know that maybe I can solve it by configuration, but.. whatever...

[2018-06-09 05:20] mevdschee commented on #33
Thank you. I'm glad you solved your problem. Thank you for sharing. I agree that the notice should be avoided and not hidden with the @. I'll see whether or not I can reproduce this and fix it if I can. Kind regards, Maurits

[2018-06-19 16:46] albmunmu opened #34 "Authorization Issue"
I was able to implement login.html and I'm receiving the token as response which I can then use to call the api using " ?csrf= "

The issue is that any user could open the developer console and see the token being used in the API calls and make its own calls.

Am I correct on assuming this or is this not a case? Is there any way of preventing the user from making his own calls using this method?

[2018-06-28 04:54] tomasyhy opened #35 "Token authorization"
I have a problem with authentication using token. I use Postman. My steps:
1. Send POST to login_token.php with username and password and I get correct token
2. Send GET to api.php with Bearer Token and I get 401 Unauthorized

Could you tell me what I'm doing wrong?

[2018-06-28 06:45] mevdschee commented on #35
The token that is returned is the CSRF token and you also need the to set the returned session cookie

[2018-07-03 04:57] tomasyhy commented on #35
I use JWT token as a CSRF GET param and also get  401 Unauthorized. Steps:

1. Send POST to login_token.php with username and password and I get correct JWT token
2. Have PHPSESSID Cookie
3. Have XSRF-TOKEN Cookie (It's always the same)
4. Send GET to api.php with CSRF param containing JWT token returned from login_token.php
5. Get 401 Unauthorized

[2018-07-03 05:33] mevdschee commented on #35
Do you send the session id in step 4?

[2018-07-05 04:50] tomasyhy commented on #35
Could you tell me how can I achieve this? Should I add X-Client-Session-Id? Where I can find session id? Should it be generated randomly?

[2018-08-06 16:12] raz0r007 opened #36 "HTTP Error 401 unauthorized cache-control"
Hi,
I i've an auth problem with the API.
I don't know if the problem is the api, the server, or mine.

I'm programming an App for iOS and Android.
In iOS i'm connecting with the api and everything works fine (including the auth).
But in Andoid, with the same code that i'm using for iOS, i've auth problems.

I'm logging in and it works ok (i'm getting the correct csrf). But when I try to select reg

[2018-08-08 18:17] mevdschee commented on #36
~~Can you use Charles or Fiddler (debugging proxies) and do a recording of the messages going back and forth and post them here? Maybe I can help you then.~~

You are probably not supporting the session cookies required.

[2018-08-08 23:06] raz0r007 commented on #36
And how can I solve that?

[2018-08-09 16:16] mevdschee commented on #36
I don't know. Probably by using a CookieStore, see:

https://developer.android.com/reference/java/net/CookieStore

[2018-08-10 20:38] raz0r007 commented on #36
After debugging on both platforms, I detected a difference in the Headers.
In iOS the Headers that I'm trying to use for get information has a **Set-Cookie** parameter, that contains the php-session.

In Android, with the same request, doesn't exist **Set-Cookie** parameter in the headers.

Maybe your link is useful but anyway I don't know how to solve this problem... :(

[2018-08-11 01:37] raz0r007 commented on #36
I found the problem. I share here for (maybe) help to someone else.
The problem is with the Cookies in Http.

When I log in to the API, the http response header contains a new Cookie value:
`Set-Cookie: value`

I should to use that ‘value’ always that I would want to use GET requests.
For all GET requests, in the header, I need add `Cookie: value`
And now everything works fine.

[2018-09-21 11:23] BigYeren opened #37 "Combine auth-token with a list-filter in one call"
Hi,

I have auth working and can maken the basic CRUD call but how can i combine a auth call with token with a list and filter.
The call that i have working is (from within Python):
http://localhost/api.php/tbl_mp_listtypes/?csrf='+csrf_token
but i like to combine it with http://localhost/api.php/tbl_mp_listtypes/?filter=mp_tags,eq,xxxx

Any help is appreciated, with regards,

Bart van Overbeek

[2018-10-14 15:08] mevdschee commented on #37
Simply use '&' where you would use '?' and combine:

    'http://localhost/api.php/tbl_mp_listtypes/?filter=mp_tags,eq,xxxx&csrf='+csrf_token

I hope it helps. Did you try v2?

[2018-11-01 17:44] simonplm opened #39 "with axios or fetch"
is it possible to use jwtauth with just axios or fetch? thanks

[2018-11-01 18:28] mevdschee commented on #39
I'm not sure, but I guess you can. Is there a problem you are running into?

[2018-11-01 18:29] mevdschee commented on #23
In this is now fully supported in php-crud-api v2 (even without php-api-auth). Please try it out!

There is an example here:

https://github.com/mevdschee/php-crud-api/tree/master/examples/clients/auth0

[2018-11-01 18:29] #23 closed, assigned to mevdschee

[2018-11-01 18:31] mevdschee commented on #31
In this is now fully supported in php-crud-api v2 (even without php-api-auth) using Auth0. Please try it out!

There is an example here:

https://github.com/mevdschee/php-crud-api/tree/master/examples/clients/auth0

[2018-11-01 18:31] #31 closed, assigned to mevdschee

[2018-11-01 19:38] mevdschee commented on #24
This is added in v2 of php-crud-api in the JWT middleware.

[2018-11-01 19:38] #24 closed, assigned to mevdschee

[2018-11-01 19:39] mevdschee commented on #21
Basic auth is now supported. It is added as a middleware in php-crud-api v2.

[2018-11-01 19:39] #21 closed, assigned to mevdschee

[2018-11-01 19:40] mevdschee commented on #20
This functionality is completely overhauled in php-crud-api v2. Please try it out.

[2018-11-01 19:40] #20 closed, assigned to mevdschee

[2018-11-02 01:08] simonplm commented on #39
I got it working. But i have to edit the auth.php. instead of redirecting, I just echo the access token to get it from the response.data and just put it in the GET request header. thanks

[2018-11-02 01:08] #39 closed, assigned to mevdschee

[2018-11-02 05:41] mevdschee commented on #39
Is there an example that you can share with the community?

[2018-11-02 05:42] mevdschee commented on #37
Closing due to inactivity.

[2018-11-02 05:42] #37 closed, assigned to mevdschee

[2018-11-02 05:43] #36 closed, assigned to mevdschee

[2018-11-02 05:43] mevdschee commented on #36
I'm glad that you found the problem. Enjoy the software!

[2018-11-02 05:44] mevdschee commented on #35
Can you try v2? It is easier to apply JWT authentication there.

[2018-11-02 05:47] mevdschee commented on #34
Can you try v2? It should be easier to apply CSRF protection using the "xsrf" middleware. It is using the double submit method, see:

https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet#Double_Submit_Cookie

[2018-11-02 05:48] #33 closed, assigned to mevdschee

[2018-11-02 06:09] mevdschee commented on #29
Can you try v2 and see whether or not your issue is resolved?

[2018-11-02 06:19] mevdschee commented on #26
Closing due to inactivity.

[2018-11-02 06:19] #26 closed, assigned to mevdschee

[2018-11-02 06:22] mevdschee commented on #17
Can you try v2 and report whether or not it solves your issues?

[2018-11-02 06:23] mevdschee commented on #18
Can you try v2 (it should be easier to use) and report whether or not this solves the issues for you?

[2018-11-02 06:24] mevdschee commented on #19
Can you try v2 (it should be easier to use) and report whether or not it solves your issues?

[2018-11-16 08:40] BigYeren commented on #37
I tried it and (probably not to your surprise) it worked. Thanks for the assistance.

[2019-04-10 14:28] leossmith opened #40 "Is redirect needed?"
Is the redirect url needed?

I want to use your api, within an App so there are no urls.

The concept I want to achieve is, Authorize user (username and pass from database), get a jwt token and then be able to use api.php with the given token until it expires.

HTTP calls will be used in android.

[2019-05-02 14:38] mevdschee commented on #35
closing due to inactivity

[2019-05-02 14:38] #35 closed, assigned to mevdschee

[2019-05-02 14:38] mevdschee commented on #34
closing due to inactivity

[2019-05-02 14:38] #34 closed, assigned to mevdschee

[2019-05-02 14:38] mevdschee commented on #29
closing due to inactivity

[2019-05-02 14:38] #29 closed, assigned to mevdschee

[2019-05-02 14:38] mevdschee commented on #19
closing due to inactivity

[2019-05-02 14:38] #19 closed, assigned to mevdschee

[2019-05-02 14:38] mevdschee commented on #18
closing due to inactivity

[2019-05-02 14:38] #18 closed, assigned to mevdschee

[2019-05-02 14:38] mevdschee commented on #17
closing due to inactivity

[2019-05-02 14:38] #17 closed, assigned to mevdschee

[2019-05-02 14:42] mevdschee commented on #40
Thank you for reaching out. Can you parse the location header that you get in the response? Once you've retrieved the token you can send that to the API.

Does that work for you?

[2019-08-09 06:46] paitoncamp opened #41 "how to setup middleware to work with auth0"
How to setup a config parameters for the middleware to work with auth0? I already set a parameter "middleware:jwtAuth", but have no idea where/how to set the middleware to accept valid audience/authorized_iss from auth0 ( in other words, how php-crud-api knows that a token is a valid token from auth0) without using php-api-auth

[2019-08-09 06:50] mevdschee commented on #41
You don't need this project when setting up Auth0 based auth for php-crud-api, for more information read:

https://github.com/mevdschee/php-crud-api#configure-and-test-jwt-authentication-with-auth0

You should set the config parameters: jwtAuth.secret, jwtAuth.audiences and jwtAuth.issuers

[2019-08-09 07:00] paitoncamp commented on #41
do you have a complete example of config parameters using jwtAuth?

[2019-08-09 07:02] mevdschee commented on #41
No, nothing more than the walk-through that I already linked.

[2019-08-09 07:33] paitoncamp commented on #41
I got this error

  "code": 1012,
  "message": "Authentication failed for 'JWT'"
}

Is there I missing here?

[2019-08-09 08:29] mevdschee commented on #41
This means you didn't properly specify the public key.. please post your config so that people can help you. Also, please use the issues of php-crud-api. This project is irrelevant for your use case.

[2019-08-09 08:29] #41 closed, assigned to mevdschee

[2019-08-09 08:29] mevdschee commented on #40
Closing due to inactivity

[2019-08-09 08:29] #40 closed, assigned to mevdschee

[2019-09-11 09:07] MaccerC opened #42 "Error: text: "Could not find configuration: default / default""
Trying to get auth.php to work I get this error:
text: "Could not find configuration: default / default"

This is the code I'm using:
http.post('/auth.php', {
            username: username,
            password: password
        });

What am I doing wrong?

Furthermore: At the end of auth.php username and password are both returned as 'admin'. Do I have to change that or can I leave this empty? I

[2020-04-06 09:22] mjza commented on #42
I have the same problem. The php-api-xxx is a great serious libraries but the problem is it does not have a simple, straight forward How to use tutorial(s)!

I want to use auth beside of the api.php but I don't know how to combine them!

[2020-04-06 15:45] mevdschee commented on #42
There is an example in the folder 'examples/clients/auth.php/', does that help?

[2020-04-07 07:21] mjza commented on #42
Not really. It has only an html file!
I have these questions:

1. What should be the structure of the user table?
2. Where to put `auth.php` file? Beside of the `api.php`?
3. How does the api.php know about the auth.php? I made the changes in the configuration as said in the readme file, but I see the above error!

[2020-04-07 07:55] mjza commented on #42
@mevdschee OK. I have put the `auth.php` and `login.php` at the same folder of the `examples/clients/auth.php/`.
By calling the `http://localhost:8080/examples/clients/auth.php/vanilla.html` it will redirect to login.php and after a login it will return back!

[2020-04-07 07:57] mjza opened #43 "How to logout after a successful login?"
I cannot find any function in the auth.php for logout, how can I logout after a login?

[2020-04-07 08:19] mjza opened #44 "How to do the authentication regarding user table in DB?"
It seems the login is done by hard coding!

    'validate' => function ($username, $password) {
          return $username == 'admin' && $password == 'admin';
    },

While I expect it does the validation with a `user` table in the DB!

Also I activated this config in the `api.php`:

        'middlewares' => 'dbAuth,authorization',
       'authorization.tableHandler' => function ($operation, $tabl

[2020-04-07 09:09] mjza commented on #44
Maybe a better question is, Is there any example for DB authentication?

[2020-04-07 09:24] mjza commented on #15
the link does not exist anymore!

[2020-04-07 09:31] mevdschee commented on #44
You should replace that with your own implementation

Not yet, but I fully understand your need for one.

[2020-04-07 09:33] mevdschee commented on #15
It has been moved to:

https://github.com/mevdschee/php-crud-api/tree/master/examples/clients/auth.php

[2020-10-27 22:18] nilopaim commented on #44
Hi, Maurits.

Any news about this example?

As I don't have great knowledge in php, this example would help me a lot...

My use case:

- Application using Vue 2, SPA
- A table in my DB with user's details, including login, passsword and profile (common user, manager, admin, etc...)
- Using php-crud-api to access my tables from Vue completelly functional...

TIA.

[2020-10-28 07:05] mevdschee commented on #44
Did you see this? https://github.com/mevdschee/vue-crud-ui

It does not use "dbAuth" or "jwtAuth" or "basicAuth" middleware, but that is relatively easy to add.

Is that what you are looking for?

[2020-10-28 07:09] mevdschee commented on #44
@nilopaim Maybe you can add the front-end for the login on that repo (via a PR) and then I'll add the back-end config?

I'm not that familiar with Vue.

[2020-10-28 07:41] mevdschee commented on #44
If you want to implement the 'jwtAuth' flow, then you may want to read: https://github.com/mevdschee/php-api-auth

[2020-10-28 12:14] nilopaim commented on #44
@mevdschee I'm not a security guy, and due to this I think I'm lost on the flow...

I have the frontend for the login, asking username and password, that I can validate using php-crud-api.

Should I ask for php-api-auth generates me a JWT token ou could I only store this data on my frontend and use it to allow/disallow things on my application?

I'll be grateful for any hints...

[2021-02-02 12:49] okobsamoht commented on #42
Hello all!
i found some little issues, whent fixed i got it worked for me.

1
replace this:
`$audience = isset($_GET['audience']) ? $_GET['audience'] : 'default';`
by:
`$audience = isset($_GET['audience']) ? $_GET['audience'] : 'api.php';`

so that configuration will be default / api.php  (client_id / audience)
based on this:
`main([
    'default' => [
        'api.php' => [.......................

[2021-07-08 16:12] FadelSultan commented on #44
Hello @mevdschee
Thank you for helping us.
I upload api.php and auth.php in the same folder and I config api.php for database MySQL, after that I call URL direct without auth data from the browser and I saw the result :(

How can I use auth.php ):

I mean I don't want to access URL directly without auth.

Thank's